# Parsing of the data

In [7]:
import pandas as pd

df = pd.read_json("message.json", lines=True)
df

,segment_id,timezone,date,heavy,car,v85,coordinates,timestamp,latitude,longitude,...,sensor 5,sensor 6,sensor 7,sensor 8,sensor 9,sensor 10,sensor 11,sensor 12,distance_km,weather_data
0,9000003741,Europe/Brussels,2023-11-20 11:00:00+00:00,43.028953,110.057906,35,"[[[4.3409833959, 50.8487412025], [4.3409171959...",2023-11-20 13:00:00,50.83123,4.341323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.947319,"{'location': {'name': 'Brussels', 'region': ''..."

## Convert the weather to proper json

In [8]:
from transformer import Transformer
transformer = Transformer()
df = transformer.transform(df)
df.to_json()

'{"segment_id":{"0":9000003741},"heavy":{"0":43.0289532294},"car":{"0":110.0579064588},"v85":{"0":35},"coordinates":{"0":[[[4.3409833959,50.8487412025],[4.3409171959,50.8486848025],[4.3406537959,50.8481709025],[4.3405064959,50.8479098025],[4.3404715959,50.8478484025]]]},"timestamp":{"0":1700485200000},"latitude":{"0":50.83122985},"longitude":{"0":4.3413227948},"altitude":{"0":34.2},"sensor_type":{"0":{"id":14,"name":"SDS011","manufacturer":"Nova Fitness"}},"distance_km":{"0":1.947319396},"current.last_updated":{"0":"2023-11-20 13:45"},"current.temp_c":{"0":11.0},"current.uv":{"0":2.0},"current.gust_kph":{"0":28.5},"current.air_quality.co":{"0":243.7},"current.air_quality.no2":{"0":6.6},"current.air_quality.o3":{"0":71.5},"current.air_quality.so2":{"0":1.0},"current.air_quality.pm2_5":{"0":0.9},"current.air_quality.pm10":{"0":1.0},"current.air_quality.us-epa-index":{"0":1},"current.air_quality.gb-defra-index":{"0":1},"p1":{"0":"18.58"},"p2":{"0":"3.44"},"co_aqi":{"0":2.437},"no2_aqi":{"0":16.5},"o3_aqi":{"0":59.5833333333},"so2_aqi":{"0":0.8},"pm25_aqi":{"0":4.5},"pm10_aqi":{"0":2.5},"aqi":{"0":14.3867222222}}'

In [125]:
from helper import explode_weather_data

df = explode_weather_data(df)
df

,segment_id,heavy,car,v85,coordinates,timestamp,latitude,longitude,altitude,country,...,current.vis_km,current.uv,current.gust_kph,current.air_quality.co,current.air_quality.no2,current.air_quality.o3,current.air_quality.so2,current.air_quality.pm2_5,current.air_quality.pm10,current.air_quality.gb-defra-index
0,9000000752,3.792861,198.785311,25.5,"[[[4.3523899959, 50.8706412025], [4.3529607959...",2023-11-20 13:00:00,50.872000,4.332000,38.4,BE,...,10.0,2.0,28.5,243.7,6.6,71.5,1.0,0.9,1.0,1
1,9000000752,3.792861,198.785311,25.5,"[[[4.3523899959, 50.8706412025], [4.3529607959...",2023-11-20 13:00:00,50.866000,4.332000,40.9,BE,...,10.0,2.0,28.5,243.7,6.6,71.5,1.0,0.9,1.0,1
2,9000000787,4.369329,5.828000,54.5,"[[[4.7076991958, 50.9302172025], [4.7075749958...",2023-11-20 13:00:00,50.948000,4.706000,12.9,BE,...,10.0,3.0,29.5,250.3,9.5,68.0,1.5,0.9,1.1,1
3,9000000787,4.369329,5.828000,54.5,"[[[4.7076991958, 50.9302172025], [4.7075749958...",2023-11-20 13:00:00,50.918000,4.688000,21.4,BE,...,10.0,3.0,29.5,250.3,9.5,68.0,1.5,0.9,1.1,1
4,9000000797,0.000000,45.023613,55.0,"[[[5.3225419957, 50.9269055026], [5.3209210957...",2023-11-20 13:00:00,50.930000,5.344000,41.6,BE,...,10.0,3.0,34.8,233.7,5.8,70.1,0.8,0.6,0.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,9000001413,5.123745,152.766648,21.5,"[[[4.3649714959, 51.0851120024], [4.3660857959...",2023-11-20 13:00:00,51.091977,4.380125,18.7,BE,...,10.0,3.0,27.6,260.4,14.9,65.8,4.4,1.3,1.6,1
506,9000001421,5.238851,66.644050,59.5,"[[[3.7109914961, 50.9967214024], [3.7111701961...",2023-11-20 13:00:00,51.003306,3.707068,8.1,BE,...,2.6,2.0,27.9,230.3,3.3,73.0,0.6,0.6,0.8,1
507,9000001413,5.123745,152.766648,21.5,"[[[4.3649714959, 51.0851120024], [4.3660857959...",2023-11-20 13:00:00,51.091983,4.380130,18.6,BE,...,10.0,3.0,27.6,260.4,14.9,65.8,4.4,1.3,1.6,1
508,9000001397,26.831139,156.212881,38.5,"[[[4.7702068958, 50.8960055025], [4.7702179958...",2023-11-20 13:00:00,50.884000,4.768000,53.6,BE,...,6.0,3.0,33.9,233.7,6.9,68.0,1.0,0.6,0.7,1
509,9000001383,77.547632,232.794985,38.5,"[[[4.3308386959, 50.8203498025], [4.3309543959...",2023-11-20 13:00:00,50.831230,4.341323,34.2,BE,...,10.0,2.0,28.5,243.7,6.6,71.5,1.0,0.9,1.0,1

In [126]:
df.columns

Index(['segment_id', 'heavy', 'car', 'v85', 'coordinates', 'timestamp',
       'latitude', 'longitude', 'altitude', 'country', 'sensor_type',
       'sensor 0', 'sensor 1', 'sensor 2', 'sensor 3', 'sensor 4', 'sensor 5',
       'sensor 6', 'sensor 7', 'sensor 8', 'sensor 9', 'sensor 10',
       'sensor 11', 'sensor 12', 'distance_km', 'current.last_updated',
       'current.temp_c', 'current.is_day', 'current.condition.text',
       'current.condition.icon', 'current.wind_kph', 'current.wind_dir',
       'current.pressure_mb', 'current.precip_mm', 'current.humidity',
       'current.cloud', 'current.feelslike_c', 'current.vis_km', 'current.uv',
       'current.gust_kph', 'current.air_quality.co', 'current.air_quality.no2',
       'current.air_quality.o3', 'current.air_quality.so2',
       'current.air_quality.pm2_5', 'current.air_quality.pm10',
       'current.air_quality.gb-defra-index'],
      dtype='object')

### Figuring out the sensors

In [127]:
sensor_df = df.filter(regex="sensor")
sensor_df

,sensor_type,sensor 0,sensor 1,sensor 2,sensor 3,sensor 4,sensor 5,sensor 6,sensor 7,sensor 8,sensor 9,sensor 10,sensor 11,sensor 12
0,"{'id': 9, 'name': 'DHT22', 'manufacturer': 'va...","{'id': 40859783672, 'value': '81.14', 'value_t...","{'id': 40859783649, 'value': '21.44', 'value_t...",None,None,None,None,None,None,None,None,NaN,NaN,NaN
1,"{'id': 9, 'name': 'DHT22', 'manufacturer': 'va...","{'id': 40859807867, 'value': '99.90', 'value_t...","{'id': 40859807830, 'value': '11.48', 'value_t...",None,None,None,None,None,None,None,None,NaN,NaN,NaN
2,"{'id': 14, 'name': 'SDS011', 'manufacturer': '...","{'id': 40859789531, 'value': '1999.90', 'value...","{'id': 40859789545, 'value': '999.90', 'value_...",None,None,None,None,None,None,None,None,NaN,NaN,NaN
3,"{'id': 14, 'name': 'SDS011', 'manufacturer': '...","{'id': 40859816397, 'value': '0.77', 'value_ty...","{'id': 40859816402, 'value': '0.77', 'value_ty...",None,None,None,None,None,None,None,None,NaN,NaN,NaN
4,"{'id': 9, 'name': 'DHT22', 'manufacturer': 'va...","{'id': 40859789763, 'value': '99.90', 'value_t...","{'id': 40859789759, 'value': '11.69', 'value_t...",None,None,None,None,None,None,None,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,"{'id': 37, 'name': 'SPS30', 'manufacturer': 'S...","{'id': 40859828481, 'value': '0.00', 'value_ty...","{'id': 40859828482, 'value': '0.00', 'value_ty...","{'id': 40859828487, 'value': '0.00', 'value_ty...","{'id': 40859828484, 'value': '0.00', 'value_ty...","{'id': 40859828486, 'value': '0.00', 'value_ty...","{'id': 40859828477, 'value': '0.00', 'value_ty...","{'id': 40859828480, 'value': '0.00', 'value_ty...","{'id': 40859828478, 'value': '0.00', 'value_ty...","{'id': 40859828479, 'value': '0.00', 'value_ty...","{'id': 40859828489, 'value': '1.63', 'value_ty...",NaN,NaN,NaN
506,"{'id': 14, 'name': 'SDS011', 'manufacturer': '...","{'id': 40859834908, 'value': '12.05', 'value_t...","{'id': 40859834909, 'value': '4.07', 'value_ty...",None,None,None,None,None,None,None,None,NaN,NaN,NaN
507,"{'id': 37, 'name': 'SPS30', 'manufacturer': 'S...","{'id': 40859828496, 'value': '22.15', 'value_t...","{'id': 40859828497, 'value': '26.28', 'value_t...","{'id': 40859828500, 'value': '26.97', 'value_t...","{'id': 40859828498, 'value': '26.84', 'value_t...","{'id': 40859828499, 'value': '26.95', 'value_t...","{'id': 40859828492, 'value': '3.37', 'value_ty...","{'id': 40859828495, 'value': '4.60', 'value_ty...","{'id': 40859828493, 'value': '4.02', 'value_ty...","{'id': 40859828494, 'value': '4.40', 'value_ty...","{'id': 40859828501, 'value': '0.66', 'value_ty...",NaN,NaN,NaN
508,"{'id': 14, 'name': 'SDS011', 'manufacturer': '...","{'id': 40859807271, 'value': '13.18', 'value_t...","{'id': 40859807273, 'value': '3.21', 'value_ty...",None,None,None,None,None,None,None,None,NaN,NaN,NaN
509,"{'id': 9, 'name': 'DHT22', 'manufacturer': 'va...","{'id': 40859805316, 'value': '99.90', 'value_t...","{'id': 40859805293, 'value': '12.99', 'value_t...",None,None,None,None,None,None,None,None,NaN,NaN,NaN

In [128]:
s1 = sensor_df["sensor 1"].apply(pd.Series)
s1

              id   value   value_type
0    40859783649   21.44  temperature
1    40859807830   11.48  temperature
2    40859789545  999.90           P2
3    40859816402    0.77           P2
4    40859789759   11.69  temperature
..           ...     ...          ...
505  40859828482    0.00           N1
506  40859834909    4.07           P2
507  40859828497   26.28           N1
508  40859807273    3.21           P2
509  40859805293   12.99  temperature

[510 rows x 3 columns]

In [129]:
s1["value_type"].unique()

array(['temperature', 'P2', 'N1', 'pressure'], dtype=object)

In [130]:
# for each columns in sensor_df, apply pd.Series and show a few non null values
list_of_dfs = []
for col in sensor_df.columns:
    list_of_dfs.append(sensor_df[col].apply(pd.Series).dropna())

In [131]:
# The first df has the sensor name and type
sensor_types = list_of_dfs.pop(0)

In [132]:
sensor_types.name.unique()

array(['DHT22', 'SDS011', 'HTU21D', 'SPS30', 'BME280', 'BMP280'],
      dtype=object)

According to my research, the most important sensors are SDS011 and SPS30

In [133]:
sensor_types[sensor_types["name"].isin(["SDS011", "SPS30"])].shape
# Out of 510 rows, 283 are sensors collecting air quality data

(283, 3)

In [134]:
for df in list_of_dfs:
    # get the unique value types
    print("====================================")
    try:
        value_types = df["value_type"].unique()
        print(
            f"""Value types: {value_types} 
DF shape: {df.shape} """
        )
    except KeyError:
        print("No value_type column")
        print(df)

# The most populated pins are pin 1 and 2

====================================
Value types: ['humidity' 'P1' 'N05']
DF shape: (510, 3)
====================================
Value types: ['temperature' 'P2' 'N1' 'pressure']
DF shape: (510, 3)
====================================
Value types: ['N10' 'temperature']
DF shape: (21, 3)
====================================
Value types: ['N25']
DF shape: (14, 3)
====================================
Value types: ['N4']
DF shape: (14, 3)
====================================
Value types: ['P0']
DF shape: (14, 3)
====================================
Value types: ['P1']
DF shape: (14, 3)
====================================
Value types: ['P2']
DF shape: (14, 3)
====================================
Value types: ['P4']
DF shape: (14, 3)
====================================
Value types: ['TS']
DF shape: (14, 3)
====================================
No value_type column
Empty DataFrame
Columns: [0]
Index: []
====================================
No value_type column
Empty DataFrame
Columns: [0]
Index: []
====================================
No value_type column
Empty DataFrame
Columns: [0]
Index: []

It looks like the 2 first sensor columns are the most important ones

In [135]:
def explode_column(df, column):
    exploded = df[column].apply(pd.Series)
    df = pd.concat([df, exploded], axis=1)
    df = df.drop(columns=[column])
    return df


sensor_df = explode_column(sensor_df, "sensor_type")

In [136]:
sensor_df.groupby(["name", "manufacturer"]).count()

,,sensor 0,sensor 1,sensor 2,sensor 3,sensor 4,sensor 5,sensor 6,sensor 7,sensor 8,sensor 9,sensor 10,sensor 11,sensor 12,id
name,manufacturer,,,,,,,,,,,,,,
BME280,Bosch,3,3,3,3,0,0,0,0,0,0,0,0,0,3
BMP280,Bosch,4,4,4,4,0,0,0,0,0,0,0,0,0,4
DHT22,various,214,214,0,0,0,0,0,0,0,0,0,0,0,214
HTU21D,Measurement Specialties,6,6,0,0,0,0,0,0,0,0,0,0,0,6
SDS011,Nova Fitness,264,264,0,0,0,0,0,0,0,0,0,0,0,264
SPS30,Sensirion AG,19,19,14,14,14,14,14,14,14,14,0,0,0,19

In [137]:
# Check what type of sensors are for the SDS011

for sensor in sensor_df[sensor_df["name"] == "SDS011"][["sensor 0", "sensor 1"]].iloc[
    0
]:
    print(sensor)

{'id': 40859789531, 'value': '1999.90', 'value_type': 'P1'}
{'id': 40859789545, 'value': '999.90', 'value_type': 'P2'}

### Decisions

We're going to drop all the sensors other than SDS011, there's no point in saving the temperature + humidity and the other useful sensor does not appear very often (SPS30)

In [138]:
df = pd.read_json("message.json", lines=True)
df = explode_weather_data(df)

In [169]:
df.columns[13:24]

Index(['current.is_day', 'current.condition.text', 'current.condition.icon',
       'current.wind_kph', 'current.wind_dir', 'current.pressure_mb',
       'current.precip_mm', 'current.humidity', 'current.cloud',
       'current.feelslike_c', 'current.vis_km'],
      dtype='object')

In [139]:
# drop all columns from sensor 2 to sensor 12
df = df.drop(columns=df.columns[13:24])
df.columns

Index(['segment_id', 'heavy', 'car', 'v85', 'coordinates', 'timestamp',
       'latitude', 'longitude', 'altitude', 'country', 'sensor_type',
       'sensor 0', 'sensor 1', 'distance_km', 'current.last_updated',
       'current.temp_c', 'current.is_day', 'current.condition.text',
       'current.condition.icon', 'current.wind_kph', 'current.wind_dir',
       'current.pressure_mb', 'current.precip_mm', 'current.humidity',
       'current.cloud', 'current.feelslike_c', 'current.vis_km', 'current.uv',
       'current.gust_kph', 'current.air_quality.co', 'current.air_quality.no2',
       'current.air_quality.o3', 'current.air_quality.so2',
       'current.air_quality.pm2_5', 'current.air_quality.pm10',
       'current.air_quality.gb-defra-index'],
      dtype='object')

In [140]:
from helper import explode_column

df = explode_column(df, "sensor_type")

In [141]:
# set null for all names other than sds011
df.loc[df["name"] != "SDS011", ["name", "sensor 0", "sensor 1"]] = None

In [142]:
df.groupby(["name", "manufacturer"]).count()

,,segment_id,heavy,car,v85,coordinates,timestamp,latitude,longitude,altitude,country,...,current.uv,current.gust_kph,current.air_quality.co,current.air_quality.no2,current.air_quality.o3,current.air_quality.so2,current.air_quality.pm2_5,current.air_quality.pm10,current.air_quality.gb-defra-index,id
name,manufacturer,,,,,,,,,,,,,,,,,,,,,
SDS011,Nova Fitness,264,264,264,264,264,264,264,264,264,264,...,264,264,264,264,264,264,264,264,264,264

In [143]:
df["sensor 0"].isna().sum()

246

In [144]:
# Extract value from sensor 0 and 1, rename them to p1 and p2
df["p1"] = df["sensor 0"].apply(lambda x: pd.Series(x).get("value"))
df["p2"] = df["sensor 1"].apply(lambda x: pd.Series(x).get("value"))

df = df.drop(columns=["sensor 0", "sensor 1"])

df

,segment_id,heavy,car,v85,coordinates,timestamp,latitude,longitude,altitude,country,...,current.air_quality.o3,current.air_quality.so2,current.air_quality.pm2_5,current.air_quality.pm10,current.air_quality.gb-defra-index,id,name,manufacturer,p1,p2
0,9000000752,3.792861,198.785311,25.5,"[[[4.3523899959, 50.8706412025], [4.3529607959...",2023-11-20 13:00:00,50.872000,4.332000,38.4,BE,...,71.5,1.0,0.9,1.0,1,9,None,various,None,None
1,9000000752,3.792861,198.785311,25.5,"[[[4.3523899959, 50.8706412025], [4.3529607959...",2023-11-20 13:00:00,50.866000,4.332000,40.9,BE,...,71.5,1.0,0.9,1.0,1,9,None,various,None,None
2,9000000787,4.369329,5.828000,54.5,"[[[4.7076991958, 50.9302172025], [4.7075749958...",2023-11-20 13:00:00,50.948000,4.706000,12.9,BE,...,68.0,1.5,0.9,1.1,1,14,SDS011,Nova Fitness,1999.90,999.90
3,9000000787,4.369329,5.828000,54.5,"[[[4.7076991958, 50.9302172025], [4.7075749958...",2023-11-20 13:00:00,50.918000,4.688000,21.4,BE,...,68.0,1.5,0.9,1.1,1,14,SDS011,Nova Fitness,0.77,0.77
4,9000000797,0.000000,45.023613,55.0,"[[[5.3225419957, 50.9269055026], [5.3209210957...",2023-11-20 13:00:00,50.930000,5.344000,41.6,BE,...,70.1,0.8,0.6,0.8,1,9,None,various,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,9000001413,5.123745,152.766648,21.5,"[[[4.3649714959, 51.0851120024], [4.3660857959...",2023-11-20 13:00:00,51.091977,4.380125,18.7,BE,...,65.8,4.4,1.3,1.6,1,37,None,Sensirion AG,None,None
506,9000001421,5.238851,66.644050,59.5,"[[[3.7109914961, 50.9967214024], [3.7111701961...",2023-11-20 13:00:00,51.003306,3.707068,8.1,BE,...,73.0,0.6,0.6,0.8,1,14,SDS011,Nova Fitness,12.05,4.07
507,9000001413,5.123745,152.766648,21.5,"[[[4.3649714959, 51.0851120024], [4.3660857959...",2023-11-20 13:00:00,51.091983,4.380130,18.6,BE,...,65.8,4.4,1.3,1.6,1,37,None,Sensirion AG,None,None
508,9000001397,26.831139,156.212881,38.5,"[[[4.7702068958, 50.8960055025], [4.7702179958...",2023-11-20 13:00:00,50.884000,4.768000,53.6,BE,...,68.0,1.0,0.6,0.7,1,14,SDS011,Nova Fitness,13.18,3.21
509,9000001383,77.547632,232.794985,38.5,"[[[4.3308386959, 50.8203498025], [4.3309543959...",2023-11-20 13:00:00,50.831230,4.341323,34.2,BE,...,71.5,1.0,0.9,1.0,1,9,None,various,None,None

In [165]:
print(df.columns)
# Let's get the columns that are important for us

important_columns = [
    'segment_id',
    "timestamp",
    "p1",
    "p2",
    "heavy",
    "car",
    "v85",
    *df.columns[28:33],
]
important_columns

Index(['segment_id', 'heavy', 'car', 'v85', 'coordinates', 'timestamp',
       'latitude', 'longitude', 'altitude', 'country', 'distance_km',
       'current.last_updated', 'current.temp_c', 'current.is_day',
       'current.condition.text', 'current.condition.icon', 'current.wind_kph',
       'current.wind_dir', 'current.pressure_mb', 'current.precip_mm',
       'current.humidity', 'current.cloud', 'current.feelslike_c',
       'current.vis_km', 'current.uv', 'current.gust_kph',
       'current.air_quality.co', 'current.air_quality.no2',
       'current.air_quality.o3', 'current.air_quality.so2',
       'current.air_quality.pm2_5', 'current.air_quality.pm10',
       'current.air_quality.gb-defra-index', 'id', 'name', 'manufacturer',
       'p1', 'p2'],
      dtype='object')

['segment_id',
 'timestamp',
 'p1',
 'p2',
 'heavy',
 'car',
 'v85',
 'current.air_quality.o3',
 'current.air_quality.so2',
 'current.air_quality.pm2_5',
 'current.air_quality.pm10',
 'current.air_quality.gb-defra-index']

In [168]:
predict_df = df[important_columns]

,segment_id,timestamp,p1,p2,heavy,car,v85,current.air_quality.o3,current.air_quality.so2,current.air_quality.pm2_5,current.air_quality.pm10,current.air_quality.gb-defra-index
0,9000000752,2023-11-20 13:00:00,None,None,3.792861,198.785311,25.5,71.5,1.0,0.9,1.0,1
1,9000000752,2023-11-20 13:00:00,None,None,3.792861,198.785311,25.5,71.5,1.0,0.9,1.0,1
2,9000000787,2023-11-20 13:00:00,1999.90,999.90,4.369329,5.828000,54.5,68.0,1.5,0.9,1.1,1
3,9000000787,2023-11-20 13:00:00,0.77,0.77,4.369329,5.828000,54.5,68.0,1.5,0.9,1.1,1
4,9000000797,2023-11-20 13:00:00,None,None,0.000000,45.023613,55.0,70.1,0.8,0.6,0.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...
505,9000001413,2023-11-20 13:00:00,None,None,5.123745,152.766648,21.5,65.8,4.4,1.3,1.6,1
506,9000001421,2023-11-20 13:00:00,12.05,4.07,5.238851,66.644050,59.5,73.0,0.6,0.6,0.8,1
507,9000001413,2023-11-20 13:00:00,None,None,5.123745,152.766648,21.5,65.8,4.4,1.3,1.6,1
508,9000001397,2023-11-20 13:00:00,13.18,3.21,26.831139,156.212881,38.5,68.0,1.0,0.6,0.7,1
509,9000001383,2023-11-20 13:00:00,None,None,77.547632,232.794985,38.5,71.5,1.0,0.9,1.0,1

After cleaning the data, we will decide which values are the most important - first let's see how unsupervised anomaly detection works with this. Then we can grab the SHAP values https://medium.com/towards-data-science/approximate-predictions-make-feature-selection-radically-faster-0f9664877687